[submodule "LocalPackages/com.dreamy.assets"]
	path = LocalPackages/com.dreamy.assets
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.assets.git
[submodule "LocalPackages/com.dreamy.audio"]
	path = LocalPackages/com.dreamy.audio
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.audio.git
[submodule "LocalPackages/com.dreamy.core"]
	path = LocalPackages/com.dreamy.core
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.core.git
[submodule "LocalPackages/com.dreamy.dataconfig"]
	path = LocalPackages/com.dreamy.dataconfig
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.dataconfig.git
[submodule "LocalPackages/com.dreamy.datasave"]
	path = LocalPackages/com.dreamy.datasave
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.datasave.git
[submodule "LocalPackages/com.dreamy.editor-tools"]
	path = LocalPackages/com.dreamy.editor-tools
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.editor-tools.git
[submodule "LocalPackages/com.dreamy.ui"]
	path = LocalPackages/com.dreamy.ui
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.ui.git
[submodule "LocalPackages/com.dreamy.feature"]
	path = LocalPackages/com.dreamy.feature
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.feature.git
[submodule "LocalPackages/com.dreamy.feature.economy"]
	path = LocalPackages/com.dreamy.feature.economy
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.feature.economy.git
[submodule "LocalPackages/com.dreamy.feature.daily-reward"]
	path = LocalPackages/com.dreamy.feature.daily-reward
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.feature.daily-reward.git
[submodule "LocalPackages/com.dreamy.feature.shop"]
	path = LocalPackages/com.dreamy.feature.shop
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.feature.shop.git
[submodule "LocalPackages/com.dreamy.feature.settings"]
	path = LocalPackages/com.dreamy.feature.settings
	url = https://github.com/Dreamy-Game-Foundation/com.dreamy.feature.settings.git
